<div class="login-container">


  <header class="app-header">
    <h1>Смирнов Андрей Алексеевич</h1>
    <p>Группа: P3213 | Вариант: 1730</p>
  </header>


  <main class="login-box">
    <h2>Вход в систему</h2>

  
    <form (ngSubmit)="onSubmit()">

      
      <div class="input-group">
        <label for="username">Логин</label>
     
        <input
          id="username"
          name="username"
          type="text"
          [(ngModel)]="credentials.username"
          placeholder="Введите логин"
          required
        >
      </div>

   
      <div class="input-group">
        <label for="password">Пароль</label>
        <input
          id="password"
          name="password"
          type="password"
          [(ngModel)]="credentials.password"
          placeholder="Введите пароль"
          required
        >
      </div>

 
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

     
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Вход...' : 'Войти' }}
      </button>

      

    
    <button type="button" style="margin-top: 10px;" class="btn-secondary" (click)="onRegister()">
      Зарегистрироваться
    </button>

    </form>
  </main>

</div>